<div class="container border" style="width: 100%;">
  <!-- Tab -->
  <div class="row">
    <mat-tab-group>
      <mat-tab label="X-Ray">
        <div class="row" style="width: 100%;">
          <h2>Detect Penumonia</h2>
        </div>
        <div class="row" style="width: 100%;">
          <div class="col justify-div">
            <p>
              Upload a Chest X-Ray file which should be in DICOM (*.dcm) format.Once it is successfully upload to the
              server, click Predict to predict if the
              Chest X-Ray has any inflammation area which is an indication of Penumonia. If Penumonia is identified the
              infected area in the Chest X-ray will be highlighted by a bounding box in
              the Image.
            </p>
            <p>
              <b>Note: </b>To see the Tags associated with the DICOM file. Please go to the next Tab after the DICOM
              file is
              uploaded to the server.
            </p>
          </div>
          <div class="col">
            <img mat-card-image class="center" src="{{ imageURL }}"
              onerror="this.src='assets/images/Upload-Default.png'" style="margin-top: 10px; margin-bottom:10px;">
          </div>
        </div>

        <div class="row" style="width: 100%;">
          <div class="col">
            <button mat-raised-button ngClass="btn btn-outline-primary button-space" (click)="fileInput.click()">
              <span>Upload</span>
              <mat-icon>attach_file</mat-icon>
              <input type="file" class="file-input" [accept]="requiredFileType" (change)="onFileSelected($event);"
                #fileInput>
            </button>
            <button mat-raised-button ngClass="btn btn-outline-secondary button-space" (click)="onPredict()"
              [disabled]="!fileId">
              <span>Predict</span>
              <mat-icon>compare</mat-icon>
            </button>
          </div>

          <div class="col">
            <div style="margin-right: 20%; margin-left: 20%; margin-top: 10px;">
              <h4>Prediction: {{result || "No Result."}}</h4>
            </div>
          </div>
        </div>
      </mat-tab>

      <mat-tab label="Tags">
        <div class="row" style="width: 100%;">
          <h2>DICOM Tags</h2>
        </div>
        <div class="row border"
          style="margin-right: 10px; margin-left: 10px; margin-top: 5px; margin-bottom: 5px; height: 475px">
          <div class="mat-elevation-z8" style="width: 100%; height: 100%; overflow: scroll;">
            <table mat-table [dataSource]="fileTags" class="mat-elevation-z8" style="width: 100%;">
              <!-- Tag Column -->
              <ng-container matColumnDef="tag">
                <th mat-header-cell *matHeaderCellDef> Tag </th>
                <td mat-cell *matCellDef="let element"> {{element.tag}} </td>
              </ng-container>

              <!-- Value Column -->
              <ng-container matColumnDef="value">
                <th mat-header-cell *matHeaderCellDef> Value </th>
                <td mat-cell *matCellDef="let element"> {{element.value}} </td>
              </ng-container>
              <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
              <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>
          </div>
        </div>
      </mat-tab>
      
      <mat-tab label="Team">
        <div class="container" style="height: 530px;">
          <br>
          <ul style="list-style-type:disc;">
            <li>Ajitav Dutta</li>
            <li>Srinivasa Reddy V</li>
            <li>Apoorva Mohan</li>
            <li>Godson DS</li>
          </ul>
        </div>
      </mat-tab>
    </mat-tab-group>
  </div>
</div>