.file-input {
    display: none;
  }

.justify-div {
  text-align: justify;
  text-justify: inter-word;
  font-size: small;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 75%;
}

.button-space{
  margin-right: 20px; 
  margin-left: 20px; 
  margin-top: 15px; 
  margin-bottom: 15px;
}